.row
  .col-lg-12
    %h1.page-header
      Truck Routes
      %small
        Add new
.row
  .col-lg-12
    = simple_form_for @truck_route do |f|
      = f.input :name, as: :string, placeholder: 'Enter name'
      = f.input :weekdays, as: :radio_buttons, collection: [["Monday, Wednesday, Friday", "1, 3, 5"], ["Tuesday, Thursday, Saturday", "2, 4, 6"]]
      = f.button :submit


