.panel.panel-red
  .panel-heading
    .container-fluid.panel-container
      .col-xs-12.text-left
        %h3.panel-title.abc
          = icon 'shopping-cart'
          General Expenses:
  .panel-body
    -if @presenter.general_expenses.any?
      = render partial: "general_expense", collection: @presenter.general_expenses, as: :item
    = render partial: "new_general_expense_form"

