=form_tag update_multiple_incomes_path, method: :put do
  = hidden_field_tag(:date, @presenter.day)
  .panel.panel-yellow
    .panel-heading
      .container-fluid.panel-container
        .col-xs-8.text-left
          %h3.panel-title.abc
            = icon 'user'
            Brand Shops:
        .col-xs-4.text-right
          .panel-title
            = submit_tag "Save", class: "btn btn-default btn-panel"
    .panel-body
      -if @presenter.incomes_brand_shops.any?
        = render partial: "incomes_brand_shop", collection: @presenter.incomes_brand_shops, as: :income

