=form_tag update_multiple_incomes_path, method: :put do
  = hidden_field_tag(:date, @presenter.day)
  .panel.panel-primary
    .panel-heading
      .container-fluid.panel-container
        .col-xs-8.text-left
          %h3.panel-title.abc
            = icon 'truck'
            Truck Routes:
        .col-xs-4.text-right
          .panel-title
            = submit_tag "Save", class: "btn btn-default btn-panel"
    .panel-body
      -if @presenter.incomes_truck_routes.any?
        = render partial: "incomes_truck_route", collection: @presenter.incomes_truck_routes, as: :income
            
