.row.gutter-5 {
  margin-left:-5px;
  margin-right:-5px
}
.row.gutter-5 > [class*='col-'] {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
.row.gutter-5 > [class*='form-control'] {
  width: 100%;
}
.btn-group > [class*='btn'] {
  padding-right: 0px;
  padding-left: 0px;
}
.input-group-hidden {
  width:0px;
}
.input-group-1px {
  margin-left:-1px;
  margin-right:-1px;
}
.input-group-2px {
  margin-left:-2px;
}
